body {
  margin:0px;
  background-color:rgba(45, 125, 154, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1942 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1942_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
  background-image:none;
}
#u1942_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:5px;
  width:29px;
  height:16px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:5px;
  width:23px;
  height:16px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:5px;
  width:19px;
  height:16px;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:5px;
  width:16px;
  height:16px;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:5px;
  width:8px;
  height:16px;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:360px;
  height:48px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:38px;
  width:22px;
  height:22px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:25px;
  width:52px;
  height:48px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:47px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:25px;
  width:222px;
  height:47px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:218px;
  word-wrap:break-word;
}
#u1966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:626px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:360px;
  height:626px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:305px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:488px;
  width:113px;
  height:16px;
  color:#999999;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:483px;
  width:28px;
  height:22px;
  color:#999999;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:452px;
  width:219px;
  height:16px;
  color:#999999;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 219, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:83px;
  width:340px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u1977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:360px;
  height:229px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:227px;
  width:65px;
  height:40px;
  font-size:16px;
  text-align:right;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:277px;
  width:340px;
  height:1px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:227px;
  width:265px;
  height:40px;
}
#u1983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:288px;
  width:65px;
  height:40px;
  font-size:16px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u1986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:338px;
  width:340px;
  height:1px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:288px;
  width:150px;
  height:40px;
}
#u1988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:293px;
  width:105px;
  height:30px;
}
#u1989_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989.mouseDown {
}
#u1989_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989.disabled {
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:349px;
  width:340px;
  height:40px;
  font-size:16px;
}
#u1991_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1991.mouseDown {
}
#u1991_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1991.disabled {
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:399px;
  width:309px;
  height:20px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
