body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:694px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#000000;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:69px;
  width:600px;
  height:694px;
  color:#000000;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:339px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:101px;
  width:30px;
  height:26px;
  color:#000000;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:100px;
  width:235px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  white-space:nowrap;
}
#u1237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:130px;
  width:155px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:46px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:119px;
  width:176px;
  height:46px;
  color:#000000;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:165px;
  width:176px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:215px;
  width:512px;
  height:1px;
  color:#000000;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:100px;
  width:176px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:226px;
  width:77px;
  height:25px;
  color:#000000;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:226px;
  width:57px;
  height:25px;
  color:#000000;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:226px;
  width:73px;
  height:25px;
  color:#000000;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:226px;
  width:132px;
  height:25px;
  color:#000000;
  text-align:right;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:251px;
  width:197px;
  height:25px;
  color:#000000;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:197px;
  white-space:nowrap;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:251px;
  width:183px;
  height:25px;
  color:#000000;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:277px;
  width:512px;
  height:1px;
  color:#000000;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:190px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:190px;
  width:91px;
  height:20px;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:277px;
  width:512px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:512px;
  word-wrap:break-word;
}
#u1267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:327px;
  width:240px;
  height:20px;
  color:#000000;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:327px;
  width:30px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:327px;
  width:80px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:327px;
  width:52px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:347px;
  width:240px;
  height:20px;
  font-size:12px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:392px;
  width:472px;
  height:1px;
  color:#CCCCCC;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:402px;
  width:240px;
  height:20px;
  color:#000000;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:402px;
  width:30px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:422px;
  width:240px;
  height:20px;
  font-size:12px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:402px;
  width:80px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:402px;
  width:52px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:452px;
  width:240px;
  height:20px;
  color:#000000;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:472px;
  width:240px;
  height:20px;
  font-size:12px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:452px;
  width:80px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:452px;
  width:52px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:402px;
  width:70px;
  height:40px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:452px;
  width:70px;
  height:40px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u1301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:367px;
  width:432px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:432px;
  word-wrap:break-word;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:97px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:402px;
  width:1px;
  height:96px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:502px;
  width:432px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:432px;
  word-wrap:break-word;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:526px;
  width:472px;
  height:1px;
  color:#CCCCCC;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:537px;
  width:240px;
  height:20px;
  color:#000000;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:537px;
  width:30px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:537px;
  width:80px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:537px;
  width:52px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:557px;
  width:240px;
  height:20px;
  font-size:12px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:602px;
  width:472px;
  height:1px;
  color:#CCCCCC;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:577px;
  width:432px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:432px;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:687px;
  width:512px;
  height:1px;
  color:#000000;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:607px;
  width:512px;
  height:20px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:512px;
  word-wrap:break-word;
}
#u1327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:662px;
  width:300px;
  height:25px;
  color:#000000;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:300px;
  word-wrap:break-word;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:697px;
  width:512px;
  height:25px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:512px;
  word-wrap:break-word;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:304px;
  width:529px;
  height:113px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:509px;
  word-wrap:break-word;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:340px;
  width:482px;
  height:66px;
  color:#000000;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:341px;
  width:240px;
  height:20px;
  color:#000000;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:341px;
  width:80px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:341px;
  width:52px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:361px;
  width:240px;
  height:20px;
  font-size:12px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:381px;
  width:432px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:432px;
  word-wrap:break-word;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-style:oblique;
  color:#FF0000;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:427px;
  width:529px;
  height:198px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-style:oblique;
  color:#FF0000;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:509px;
  word-wrap:break-word;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:459px;
  width:482px;
  height:130px;
  color:#000000;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:464px;
  width:240px;
  height:20px;
  color:#000000;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:484px;
  width:240px;
  height:20px;
  font-size:12px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:464px;
  width:80px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:464px;
  width:52px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u1357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:514px;
  width:240px;
  height:20px;
  color:#000000;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:534px;
  width:240px;
  height:20px;
  font-size:12px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:514px;
  width:80px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:514px;
  width:52px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:464px;
  width:70px;
  height:40px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:514px;
  width:70px;
  height:40px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:97px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:464px;
  width:1px;
  height:96px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:564px;
  width:432px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:432px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:588px;
  width:472px;
  height:1px;
  color:#CCCCCC;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:69px;
  width:529px;
  height:81px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:509px;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:160px;
  width:529px;
  height:83px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:509px;
  word-wrap:break-word;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:194px;
  width:512px;
  height:40px;
  color:#000000;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:226px;
  width:512px;
  height:1px;
  color:#000000;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:201px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u1385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:201px;
  width:462px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:462px;
  word-wrap:break-word;
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:635px;
  width:529px;
  height:83px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:509px;
  word-wrap:break-word;
}
#u1389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:669px;
  width:512px;
  height:40px;
  color:#000000;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:203px;
  width:0px;
  height:0px;
}
#u1391_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u1391_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-5px;
  width:8px;
  height:9px;
}
#u1391_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-5px;
  width:14px;
  height:8px;
}
#u1391_seg3 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-11px;
  width:20px;
  height:20px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:701px;
  width:512px;
  height:1px;
  color:#000000;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:676px;
  width:333px;
  height:25px;
  color:#000000;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:333px;
  word-wrap:break-word;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:677px;
  width:0px;
  height:0px;
}
#u1397_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1397_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:253px;
  width:529px;
  height:41px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:509px;
  word-wrap:break-word;
}
