body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u777 {
  position:fixed;
  left:20px;
  top:0px;
}
#u777_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1240px;
  height:136px;
  background-image:none;
}
#u777_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:136px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:289px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:61px;
  width:463px;
  height:20px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:91px;
  width:320px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:320px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:2px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:135px;
  width:1220px;
  height:1px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:91px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:260px;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:91px;
  width:320px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:320px;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:91px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:260px;
  word-wrap:break-word;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:520px;
  width:40px;
  height:40px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:525px;
  width:28px;
  height:30px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:520px;
  width:260px;
  height:233px;
  font-size:13px;
  text-align:left;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:525px;
  width:16px;
  height:30px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:186px;
  width:40px;
  height:40px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:191px;
  width:28px;
  height:30px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:186px;
  width:260px;
  height:273px;
  font-size:13px;
  text-align:left;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:191px;
  width:16px;
  height:30px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:520px;
  width:40px;
  height:40px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:525px;
  width:28px;
  height:30px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:520px;
  width:260px;
  height:233px;
  font-size:13px;
  text-align:left;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:525px;
  width:16px;
  height:30px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:469px;
  width:1230px;
  height:1px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:763px;
  width:1230px;
  height:1px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:774px;
  width:40px;
  height:40px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:779px;
  width:28px;
  height:30px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:774px;
  width:260px;
  height:233px;
  font-size:13px;
  text-align:left;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:779px;
  width:16px;
  height:30px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1033px;
  width:1230px;
  height:1px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:774px;
  width:40px;
  height:40px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:779px;
  width:28px;
  height:30px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:774px;
  width:260px;
  height:249px;
  font-size:13px;
  text-align:left;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:779px;
  width:16px;
  height:30px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1287px;
  width:1230px;
  height:1px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1044px;
  width:40px;
  height:40px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:1049px;
  width:28px;
  height:30px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1044px;
  width:260px;
  height:233px;
  font-size:13px;
  text-align:left;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1049px;
  width:16px;
  height:30px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1521px;
  width:1230px;
  height:1px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:274px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:186px;
  width:1px;
  height:273px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:1544px;
  width:40px;
  height:40px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:1549px;
  width:28px;
  height:30px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:1544px;
  width:260px;
  height:233px;
  font-size:13px;
  text-align:left;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1549px;
  width:16px;
  height:30px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:1544px;
  width:40px;
  height:40px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1549px;
  width:28px;
  height:30px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1544px;
  width:260px;
  height:196px;
  font-size:13px;
  text-align:left;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:1549px;
  width:16px;
  height:30px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1298px;
  width:40px;
  height:40px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:1303px;
  width:28px;
  height:30px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1298px;
  width:260px;
  height:175px;
  font-size:13px;
  text-align:left;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1303px;
  width:16px;
  height:30px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:1298px;
  width:40px;
  height:40px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1303px;
  width:28px;
  height:30px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1298px;
  width:260px;
  height:213px;
  font-size:13px;
  text-align:left;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:1303px;
  width:16px;
  height:30px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:146px;
  width:1230px;
  height:30px;
  text-align:left;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1226px;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:480px;
  width:1230px;
  height:30px;
  text-align:left;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1226px;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1268px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:520px;
  width:1px;
  height:1267px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:626px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1787px;
  width:1230px;
  height:1px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1798px;
  width:1230px;
  height:30px;
  text-align:left;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1226px;
  word-wrap:break-word;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1838px;
  width:40px;
  height:40px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:1843px;
  width:28px;
  height:30px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1838px;
  width:260px;
  height:244px;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1843px;
  width:16px;
  height:30px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:2092px;
  width:1230px;
  height:1px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:2103px;
  width:40px;
  height:40px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:2108px;
  width:28px;
  height:30px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:2103px;
  width:260px;
  height:300px;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:2108px;
  width:16px;
  height:30px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:2103px;
  width:40px;
  height:40px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:2108px;
  width:28px;
  height:30px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:2103px;
  width:260px;
  height:130px;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:2108px;
  width:16px;
  height:30px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:2px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:2413px;
  width:1230px;
  height:1px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:577px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:1838px;
  width:1px;
  height:576px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:186px;
  width:251px;
  height:80px;
  color:#FF0000;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:520px;
  width:251px;
  height:200px;
  color:#FF0000;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:520px;
  width:251px;
  height:220px;
  color:#FF0000;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:774px;
  width:251px;
  height:200px;
  color:#FF0000;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:774px;
  width:251px;
  height:220px;
  color:#FF0000;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1049px;
  width:251px;
  height:80px;
  color:#FF0000;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1298px;
  width:251px;
  height:100px;
  color:#FF0000;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:1298px;
  width:251px;
  height:100px;
  color:#FF0000;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1544px;
  width:251px;
  height:100px;
  color:#FF0000;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:1544px;
  width:251px;
  height:120px;
  color:#FF0000;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1838px;
  width:251px;
  height:100px;
  color:#FF0000;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:2103px;
  width:251px;
  height:140px;
  color:#FF0000;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:2103px;
  width:251px;
  height:120px;
  color:#FF0000;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
