body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:587px;
}
#u7265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u7265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u7267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u7267 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u7269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u7269 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u7271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u7271 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:150px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u7273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u7273 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:150px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u7275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:42px;
}
#u7275 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:400px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u7277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  height:60px;
}
#u7278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7279 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:42px;
  width:100px;
  height:60px;
}
#u7280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7281 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:42px;
  width:200px;
  height:60px;
}
#u7282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7283 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:42px;
  width:150px;
  height:60px;
}
#u7284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7285 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:42px;
  width:150px;
  height:60px;
}
#u7286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7287 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:42px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:100px;
  height:60px;
}
#u7290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7291 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:102px;
  width:100px;
  height:60px;
}
#u7292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7293 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:102px;
  width:200px;
  height:60px;
}
#u7294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7295 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:102px;
  width:150px;
  height:60px;
}
#u7296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7297 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:102px;
  width:150px;
  height:60px;
}
#u7298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7299 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:102px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:100px;
  height:60px;
}
#u7302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7303 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:162px;
  width:100px;
  height:60px;
}
#u7304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7305 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:162px;
  width:200px;
  height:60px;
}
#u7306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7307 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:162px;
  width:150px;
  height:60px;
}
#u7308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7309 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:162px;
  width:150px;
  height:60px;
}
#u7310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7311 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:162px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:100px;
  height:60px;
}
#u7314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7315 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:222px;
  width:100px;
  height:60px;
}
#u7316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7317 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:222px;
  width:200px;
  height:60px;
}
#u7318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7319 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:222px;
  width:150px;
  height:60px;
}
#u7320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7321 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:222px;
  width:150px;
  height:60px;
}
#u7322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7323 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:222px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:100px;
  height:60px;
}
#u7326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7327 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:282px;
  width:100px;
  height:60px;
}
#u7328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7329 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:282px;
  width:200px;
  height:60px;
}
#u7330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7331 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:282px;
  width:150px;
  height:60px;
}
#u7332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7333 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:282px;
  width:150px;
  height:60px;
}
#u7334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7335 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:282px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:100px;
  height:60px;
}
#u7338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7339 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:342px;
  width:100px;
  height:60px;
}
#u7340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7341 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:342px;
  width:200px;
  height:60px;
}
#u7342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7343 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:342px;
  width:150px;
  height:60px;
}
#u7344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7345 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:342px;
  width:150px;
  height:60px;
}
#u7346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7347 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:342px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:100px;
  height:60px;
}
#u7350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7351 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:402px;
  width:100px;
  height:60px;
}
#u7352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7353 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:402px;
  width:200px;
  height:60px;
}
#u7354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7355 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:402px;
  width:150px;
  height:60px;
}
#u7356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7357 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:402px;
  width:150px;
  height:60px;
}
#u7358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7359 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:402px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:100px;
  height:60px;
}
#u7362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7363 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:462px;
  width:100px;
  height:60px;
}
#u7364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7365 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:462px;
  width:200px;
  height:60px;
}
#u7366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7367 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:462px;
  width:150px;
  height:60px;
}
#u7368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7369 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:462px;
  width:150px;
  height:60px;
}
#u7370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7371 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:462px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u7373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:522px;
  width:100px;
  height:60px;
}
#u7374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7375 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:522px;
  width:100px;
  height:60px;
}
#u7376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7377 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:522px;
  width:200px;
  height:60px;
}
#u7378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u7379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7379 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:522px;
  width:150px;
  height:60px;
}
#u7380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7381 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:522px;
  width:150px;
  height:60px;
}
#u7382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u7383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u7383 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:522px;
  width:400px;
  height:60px;
  text-align:left;
}
#u7384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
