body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:656px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:875px;
  width:360px;
  height:656px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:638px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:209px;
  width:358px;
  height:638px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:311px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:655px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:441px;
  width:359px;
  height:655px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:655px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:441px;
  width:360px;
  height:655px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:190px;
  width:818px;
  height:100px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(30, 57, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:252px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u410_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u410.mouseOver {
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u412_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u412.mouseOver {
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u414_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u414.mouseOver {
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u416_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u416.mouseOver {
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:290px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:820px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:820px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:30px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:246px;
  word-wrap:break-word;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:90px;
  width:230px;
  height:800px;
  overflow:hidden;
}
#u425_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:800px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u425_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:185px;
}
#u426_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:126px;
  height:20px;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u431_img.selected {
}
#u431.selected {
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:104px;
  height:20px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u430_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:165px;
  height:20px;
}
#u436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:143px;
  height:20px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:193px;
  height:20px;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:171px;
  height:20px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:123px;
  height:20px;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:101px;
  height:20px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:123px;
  height:20px;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:101px;
  height:20px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:123px;
  height:20px;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:101px;
  height:20px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:123px;
  height:20px;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:101px;
  height:20px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:207px;
  height:20px;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:185px;
  height:20px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:80px;
  width:193px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:1067px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u458_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-404px;
  width:8px;
  height:404px;
}
#u458_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-404px;
  width:221px;
  height:8px;
}
#u458_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u458_seg3 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-410px;
  width:20px;
  height:20px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-338px;
  width:100px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:295px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:519px;
  width:334px;
  height:295px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:140px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:317px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:466px;
  width:337px;
  height:317px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:148px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:1243px;
  width:337px;
  height:148px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:773px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u466_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:231px;
  height:8px;
}
#u466_seg1 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:-152px;
  width:8px;
  height:156px;
}
#u466_seg2 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:-152px;
  width:89px;
  height:8px;
}
#u466_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u466_seg4 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:-158px;
  width:20px;
  height:20px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:1272px;
  width:135px;
  height:60px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:131px;
  word-wrap:break-word;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1079px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u470_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u470_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:121px;
}
#u470_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:109px;
  width:88px;
  height:8px;
}
#u470_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:109px;
  width:8px;
  height:84px;
}
#u470_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u470_seg5 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:178px;
  width:20px;
  height:20px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:73px;
  width:100px;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:787px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u472_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u472_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:105px;
}
#u472_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:93px;
  width:186px;
  height:8px;
}
#u472_seg3 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:93px;
  width:8px;
  height:441px;
}
#u472_seg4 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:526px;
  width:79px;
  height:8px;
}
#u472_seg5 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u472_seg6 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:520px;
  width:20px;
  height:20px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:158px;
  width:100px;
  word-wrap:break-word;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:156px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:367px;
  width:127px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1560px;
  width:145px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1594px;
  width:1283px;
  height:639px;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:639px;
}
#u480_ref {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:2223px;
  width:1px;
  height:1px;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:10px;
  width:120px;
  height:40px;
  color:#000000;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
