body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:1000px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:980px;
  word-wrap:break-word;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:160px;
  width:980px;
  height:60px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(30, 57, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:252px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u755_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u755.mouseOver {
}
#u756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u757_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u757.mouseOver {
}
#u758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u759_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u759.mouseOver {
}
#u760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u761_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u761.mouseOver {
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:290px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:10px;
  width:120px;
  height:40px;
  color:#000000;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1920px;
  height:40px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:108px;
  height:20px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:60px;
  width:108px;
  height:20px;
  color:#CC0000;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:238px;
  width:1000px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:980px;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:278px;
  width:980px;
  height:20px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
