body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:100px;
  width:500px;
  height:500px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:350px;
  width:70px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:350px;
  width:200px;
  height:30px;
}
#u1114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:400px;
  width:70px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:400px;
  width:200px;
  height:30px;
}
#u1117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:86px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:187px;
  width:100px;
  height:86px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:283px;
  width:480px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:480px;
  word-wrap:break-word;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:450px;
  width:70px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:450px;
  width:100px;
  height:30px;
}
#u1124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Negreta', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:450px;
  width:80px;
  height:30px;
  font-family:'Century Gothic Negreta', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:457px;
  width:16px;
  height:16px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:500px;
  width:273px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1130_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1130.mouseOver {
}
#u1130_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1130.selected {
}
#u1130_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1130.disabled {
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:630px;
  width:400px;
  height:60px;
  text-align:center;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:237px;
  width:258px;
  height:43px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:238px;
  word-wrap:break-word;
}
