body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7923 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:93px;
  width:547px;
  height:20px;
  color:#FF0000;
}
#u7924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  white-space:nowrap;
}
#u7925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7925 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:31px;
  width:193px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:406px;
}
#u7927 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:138px;
  width:624px;
  height:406px;
}
#u7928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:195px;
  width:620px;
  visibility:hidden;
  word-wrap:break-word;
}
