body {
  margin:0px;
  background-color:rgba(45, 125, 154, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(30, 57, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:252px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u2001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u2001_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2001.mouseOver {
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u2003_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2003.mouseOver {
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u2005_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2005.mouseOver {
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u2007_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2007.mouseOver {
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:290px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u2011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 125, 154, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:10px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:60px;
  width:361px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:760px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:101px;
  width:951px;
  height:760px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:491px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:210px;
  width:698px;
  height:491px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:238px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:247px;
  width:450px;
  height:223px;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:430px;
  word-wrap:break-word;
}
#u2022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:257px;
  width:7px;
  height:16px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:220px;
  width:32px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:480px;
  width:204px;
  height:40px;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:490px;
  width:7px;
  height:16px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:530px;
  width:396px;
  height:40px;
  font-size:13px;
  text-align:left;
  line-height:20px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:540px;
  width:7px;
  height:16px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:181px;
  width:40px;
  height:40px;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:186px;
  width:28px;
  height:30px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:245px;
  width:40px;
  height:40px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:250px;
  width:28px;
  height:30px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:480px;
  width:40px;
  height:40px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:485px;
  width:28px;
  height:30px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:530px;
  width:40px;
  height:40px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:535px;
  width:28px;
  height:30px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
