body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:190px;
  height:700px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:60px;
  width:137px;
  height:65px;
}
#u1099_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u1101_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101.mouseOver {
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1104_img.selected {
}
#u1104.selected {
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1106_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106.mouseOver {
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1103_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:112px;
  height:20px;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u1109_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109.mouseOver {
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:70px;
  width:505px;
  height:30px;
  font-size:18px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:505px;
  white-space:nowrap;
}
#u1114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:50px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:10px;
  width:40px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1116_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1116.mouseOver {
}
#u1116_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1116.selected {
}
#u1116_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1116.disabled {
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u1118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:15px;
  width:445px;
  height:20px;
  color:#FFFFFF;
  text-align:right;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  word-wrap:break-word;
}
#u1120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:10px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1120_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1120.mouseOver {
}
#u1120_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1120.selected {
}
#u1120_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1120.disabled {
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:17px;
  width:81px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:6px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:8px;
  width:169px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:260px;
  width:1290px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1270px;
  word-wrap:break-word;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:317px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:300px;
  width:1290px;
  height:317px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132 {
  position:absolute;
  left:200px;
  top:110px;
}
#u1132_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  background-image:none;
}
#u1132_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  background:inherit;
  background-color:rgba(221, 255, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 208, 147, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  color:#336600;
  text-align:left;
  line-height:20px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  font-family:'微软雅黑';
  font-style:normal;
  color:#336600;
  text-align:left;
  line-height:20px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:5px;
  width:1238px;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:29px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:10px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1138_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1138.mouseOver {
}
#u1138_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1138.selected {
}
#u1138_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1138.disabled {
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u1132_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  visibility:hidden;
  background-image:none;
}
#u1132_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 219, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  color:#CC6600;
  text-align:left;
  line-height:20px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  font-family:'微软雅黑';
  font-style:normal;
  color:#CC6600;
  text-align:left;
  line-height:20px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:5px;
  width:1238px;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:29px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:10px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1145_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1145.mouseOver {
}
#u1145_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1145.selected {
}
#u1145_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1145.disabled {
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u1132_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  visibility:hidden;
  background-image:none;
}
#u1132_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 137, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:left;
  line-height:20px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:left;
  line-height:20px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:5px;
  width:1238px;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:29px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:10px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1152_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1152.mouseOver {
}
#u1152_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1152.selected {
}
#u1152_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1152.disabled {
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u1154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:110px;
  width:459px;
  height:70px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:350px;
  width:200px;
  height:40px;
  text-align:right;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:350px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:310px;
  width:1270px;
  height:30px;
  text-align:left;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:1258px;
  word-wrap:break-word;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:350px;
  width:20px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:350px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:390px;
  width:200px;
  height:40px;
  text-align:right;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:390px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:390px;
  width:20px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:390px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:495px;
  width:150px;
  height:30px;
  color:#0000FF;
}
#u1176_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1176.disabled {
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:140px;
  word-wrap:break-word;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:440px;
  width:1270px;
  height:30px;
  text-align:left;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:1258px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:485px;
  width:200px;
  height:40px;
  text-align:right;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:535px;
  width:200px;
  height:40px;
  text-align:right;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:535px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:535px;
  width:20px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:535px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:190px;
  width:1290px;
  height:60px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:200px;
  width:200px;
  height:40px;
  font-size:20px;
  text-align:right;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:200px;
  width:350px;
  height:40px;
}
#u1195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:200px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1196_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1196.mouseOver {
}
#u1196_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1196.selected {
}
#u1196_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1196.disabled {
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-style:oblique;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:190px;
  width:459px;
  height:139px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-style:oblique;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-style:oblique;
  color:#FF0000;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:300px;
  width:459px;
  height:269px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';
  font-style:oblique;
  color:#FF0000;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:485px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:485px;
  width:20px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:485px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1209 {
  position:fixed;
  left:50%;
  margin-left:-292.5px;
  top:50%;
  margin-top:-71px;
  visibility:hidden;
}
#u1209_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:585px;
  height:142px;
  background-image:none;
}
#u1209_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:142px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:63px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:5px;
  width:24px;
  height:24px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u1212_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u1212.mouseOver {
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  word-wrap:break-word;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:270px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:318px;
  height:41px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:100px;
  width:318px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1217_img.mouseOver {
}
#u1217.mouseOver {
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:247px;
  height:140px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:82px;
  width:0px;
  height:0px;
}
#u1221_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1221_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-16px;
  width:8px;
  height:20px;
}
#u1221_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-16px;
  width:66px;
  height:8px;
}
#u1221_seg3 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-22px;
  width:20px;
  height:20px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1494px;
  top:145px;
  width:0px;
  height:0px;
}
#u1223_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u1223_seg1 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:220px;
  width:0px;
  height:0px;
}
#u1225_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:515px;
  height:8px;
}
#u1225_seg1 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:-4px;
  width:8px;
  height:48px;
}
#u1225_seg2 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:36px;
  width:126px;
  height:8px;
}
#u1225_seg3 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:30px;
  width:20px;
  height:20px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:585px;
  width:459px;
  height:49px;
  font-family:'微软雅黑 Oblique', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FF0000;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:525px;
  width:0px;
  height:0px;
}
#u1229_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u1229_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:93px;
}
#u1229_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:81px;
  width:156px;
  height:8px;
}
#u1229_seg3 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:75px;
  width:20px;
  height:20px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
